﻿html,body{width:100%;height:100%;}

body{
   padding:0px;
   margin:4px;
   font-family:'Open Sans',sans-serif;
   font-size:16px;
 -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
}

.taskArea{
    max-width: 580px;
    min-width: 250px;
    margin: auto;
    top:0px;
}

.answer{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.test
{
    margin-top: 30px;
    margin-bottom: 15px;
    position: relative;
}

.theNumber
{
    position: absolute; 
    left: -30px;
}

span.textEditLabel
{
    margin-left: 10px;
}

.answerTextedit:focus {
    border-style: solid;
    border-color: #0096A6;
}

h1{
    text-align:center;
    font-weight: 700;
}

.checkButton{
	width:169px;
	height:48px;
	text-align:center;
	background-repeat:no-repeat;
	background-size: 100%;
}

#checkBtn{
    background-image:url(button-check.png);
}

#checkBtn:hover{
    background-image:url(button-check-selected.png);
}

#checkBtn.checkButtonDisabled{
    background-image:url(button-check-disabled.png);
}

.correct{
    color: #008000;
}

label{
    font-weight: normal;
}

.error{
    color: #ff6a00;
}
/*
[class^="select-wrap"] {
	padding-top: 0.35em;
	width: 140px;
	overflow: hidden; 
	background: url(list-black.svg) no-repeat right #fff;
}

select {
	outline: none;
	padding: 0;
	border: 0;
	background: transparent;
	width: 168px;
	color: inherit;
}
    */
/* Раскрывшийся список должен, конечно, совпадать по положению
и ширине с полем — мне не удалось так сделать.
Желательно, чтобы вместо синего в нём использовался голубой.
.text-selected, .select-wrap-selected, .text-hover, .select-wrap-hover, [class^="text"]:hover, [class^="select-wrap"]:hover {
	outline: none;
	box-shadow: inset 0 1px 6px rgba(0,0,0,.4);
}
     */